@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*,
html {
	padding: 0;
	margin: 0;
	font-family: 'Comfortaa', sans-serif;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;

	--darker: #191919;
	--dark: #232323;
	--main: #2940d3;
	--light: #39a9cb;
	--highlight: #ffeda3;

	background: var(--darker);
}

#div-container {
	width: 80%;
	margin: auto;
	max-height: 100%;
}

/* #canvas-div {
	padding-top: 56.25%;
	width: 100%;
	max-height: 100%;
}

canvas {
	user-select: none;
	margin-top: -100%;
	width: 100% !important;
	height: 100% !important;
} */

canvas {
	transform-origin: top left;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}

.filler {
	height: 110vh;
}

@keyframes swipe {
	0% {
		left: -200vh;
	}
	25% {
		left: 0vh;
	}
	75% {
		left: 0vh;
	}
	100% {
		left: -200vh;
		display: none;
	}
}

p.message {
	z-index: 1000;
	position: absolute;
	top: 80vh;
	margin: auto;
	text-align: center;
	width: 100%;
	background: none;
	font-size: 2em;
	vertical-align: top;
	text-shadow: 1px 1px 0px white;
	font-weight: bold;
	animation: swipe 5s forwards;
}

#mute-btn {
	color: white;
	margin: 10px 10%;
	padding: 10px;
	border: none;
	background: dfdfdf;
	border-radius: 50%;
	font-size: 1em;
	user-select: none;

	width: 5vw;
	height: auto;

	position: absolute;
	top: 10px;
	left: 10px;

	z-index: 2000;
}

#mute-btn:hover {
	background: whitesmoke;
	cursor: pointer;
}

.player-div {
	width: 100%;
	max-width: 1000px;
	margin: auto;

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;

	font-size: 1.2em;
	font-weight: bolder;
	color: white;
}

#leaderboard {
	width: 100%;
	max-width: 1000px;
	background: var(--darker);
	margin: auto;
	font-size: 1.25em;
}

#leaderboard tr {
	background: var(--dark);
	color: white;
	height: 30px;
}
